body {
  width: 62%;
  margin: auto;
  
}

.page {
  box-shadow: 5px 5px 2px #B2B2B2;
  border: 1px;
  border: #EBE2C4;
  border: outset;
}
.header_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
.header_link {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: #B9B9B9;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
}

a.header_link:hover {
  background-color: #3C3C3C;
}

.data_row {
  align-items: center;
  text-align: center;
}

.data_table {
  border-style: solid;
  width: 100%;
}

th {
  border-bottom-style: solid;
}

.status_veryurgent {
  background-color: #FF9C9C;
}

.status_urgent {
  background-color: #FFFF99;
}

.status_normal {
  background-color: #ACFEAC;
}

.status_relax {
  background-color: #A9FFFF;
}

.status_na {
  background-color: #DEDEDE;
}

.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbd34f;
}
.tab_link {
  float: left;
  border-right: 1px solid #413F01;
  display: block;
  color: #353535;
  text-align: center;
  text-decoration: none;
  padding: 4px 10px;
  font-size: 17px;

  background-color: #fbd34f;
  cursor: pointer;
}

.tab_link:hover {
  background-color: #F5E36A;
}

a.action_link {
  text-align: center;
  text-decoration: none;
  color: #646464;
}

a.action_link:hover {
  color: #000000;
}

.edit_field {
  align-items: right;
  text-align: right;
}

.calendar {
  border-style: solid;
  width: 100%;
  table-layout: fixed;
}

.calendar_cell {
  vertical-align: top;
}

.calendar_taskcell {
  background-color: #DB5DC8
}

.calendar_remindercell {
  background-color: #AAD14B
}

.calendar_goalcell {
  background-color: #6EE0ED
}